
/* --------  全局变量  -------- */

//主色调
$primary-color: #438CFA !default;

//默认颜色
$default-color: #686875 !default;

//辅助文字、提示文字颜色
$sub-text-color: #b6b6c6 !default;

//危险色
$danger-color: #ff3b3b !default;

//成功色
$success-color: #1bc84c !default;

//主色按钮hover状态
$primary-hover-color: #2175f2 !default;

//默认颜色按钮hover
$default-hover-color: #565666 !default;

//线条、边框颜色
$border-color: #e5e5e5 !default;

//导航、表单选中底色
$form-active-color: #f2f6fc !default;
